In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
from census import Census
import numpy as np

In [2]:
#Import crime data
filepath = r'Resources\UCR76_17.csv'
crime_df = pd.read_csv(filepath)
crime_df.head()

       ORI       Name  YEAR  MRD  CLR   State         County     Agency
0  AK00101  ANCHORAGE  1965    7    6  Alaska  Anchorage, AK  Anchorage
1  AK00101  ANCHORAGE  1966   18   16  Alaska  Anchorage, AK  Anchorage
2  AK00101  ANCHORAGE  1967    1    1  Alaska  Anchorage, AK  Anchorage
3  AK00101  ANCHORAGE  1968    7    5  Alaska  Anchorage, AK  Anchorage
4  AK00101  ANCHORAGE  1969    7    4  Alaska  Anchorage, AK  Anchorage

In [6]:
#Import income data (2017)
filepath1 = r'Resources\kaggle_income2.xlsx'
income_df = pd.read_excel(filepath1)
#view income data
income_df.head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328

In [7]:
#filter crime data for year 2017 to match the income data
crime_df = crime_df.loc[crime_df['YEAR']==2017]

In [ ]:
#Split of the state abbreviation from each of the counties on the crime dataframe
crime_df['County1'] = crime_df['County'].str.split(',').str[0]

In [ ]:
# Add county to the end of each county entry in the crime dataframe to match the format of the income dataframe
crime_df['County'] = crime_df['County1'] + " " + 'County'

In [ ]:
#Pivot on County and sum the murders to get the total amount of murders for the whole county
crime_df2 = crime_df.groupby('County').sum()['MRD']

In [ ]:
#merge the crime and income dataframes on the shared county column
combined_df = pd.merge(crime_df, income_df, on = 'County')
#display combined dataframe
combined_df.head()

In [ ]:
combined_df.columns

In [ ]:
#remove unnecessary columns
clean_df = combined_df[['State', 'County', 'MRD', 'CLR', 'Zip_Code', 'Lat', 'Lon', 'Mean', 'Median']]

In [ ]:
clean_df

In [ ]:
plt.scatter(combined_df['Mean'], combined_df['MRD'])